<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
    </head>
    <body>
        <form onSubmit="onSubmitHandler(event)">
            <label for="product" > Product Name </label>
            <input
                type="text"
                id="product"
                name="ProductName"
            />
            <button
                type="submit"
            > ADD Product </button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/product.js"></script>
    </body>
</html>